$first-chart-bars: 7;
$second-chart-bars: 3;
$third-chart-bars: 5;
$total-chart-bars: 15;
$chart-1-delay: .4s;
$chart-2-delay: .8s;
$chart-3-delay: 1.2s;
$chart-stagger-delay: .1s;

// $chart-bar-height: 5%;
// $max-bar-height: 20px;
// $chart-bar-height-large: 1%;

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
	@while $i > 0 {
		&:nth-of-type(#{$i}) {
			animation-delay: $initial-delay + $stagger-delay * $i;
		}
		$i: $i - 1;
	}
}

/* --- Chart Wrapper --- */
.chart-wrapper {
	// height: 42%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 52%;
	width: 72%;
	z-index: $above-confetti-layer;
}
.chart-wrapper--large {
	top: 44%;
}
.chart-wrapper--landscape {
	top: 48%;
	width: 65%;
}

/* --- Chart --- */
.chart-group {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	ul {
		list-style-type: none;
	}
}
.chart {
	ul {
		list-style-type: none;
	}
}
/* --- Chart bars --- */
.chart-title {
	@include fluid-type(font-size, $min-width, $max-width, 10px, 18px);
	color: #28424e;
	display: block;
	margin: 0 0 1% 1%;
}
.chart-content {
	overflow: hidden;
}
.chart-bar {
	$border-rad: 8px;

	align-items: center;
	border-top-right-radius: $border-rad;
	border-bottom-right-radius: $border-rad;
	background: linear-gradient(to left, #4cb8c4, #3cd3ad);
	display: flex;
	height: 1.4vh;
	max-height: 12px;
	justify-content: flex-start;
	margin-bottom: .8%;
}
.bar-label {
	@include fluid-type(font-size, $min-width, $large-screen-breakpoint, 7px, 12px);
	color: white;
	padding-left: 1vw;
}
.chart-wrapper--landscape {
	.chart-bar {
		height: 3vh;
	}
}
.chart-content--large {
	.chart-bar {
		height: 1.2vh;
		max-height: 16px;
	}
	.bar-label {
		@include fluid-type(font-size, $large-screen-breakpoint, $max-width, 9px, 12px);
	}
}
.bar-30 {
	width: 31%;
}
.bar-60 {
	width: 63%;
}
.bar-90 {
	width: 95%;
}

/* --- Chart lines --- */
.line {
	background: rgba(rgb(198, 198, 198), 0.6);
	height: 103%;
	position: absolute;
	width: 2px;
	&.line-0 {
		left: -1%;
	}
	&.line-30 {
		left: 33%;
	}
	&.line-60 {
		left: 66%;
	}
	&.line-90 {
		left: 100%;
	}
}
.line-label {
	@include fluid-type(font-size, $min-width, $max-width, 9px, 16px);
	bottom: -5%;
	color: $gray-text;
	font-style: italic;
	position: absolute;
	right: -5%;
}

/* --- Animations ---------------------------------- */
.chart-title.chart-grow {
	animation: .4s chart-bar-grow ease forwards;
	opacity: 0;
	.chart-tech & {
		animation-delay: $chart-1-delay;
	}
	.chart-ux & {
		animation-delay: $chart-2-delay;
	}
	.chart-soft & {
		animation-delay: $chart-3-delay;
	}
}
.chart-bar.chart-grow {
	animation: .4s chart-bar-grow ease forwards;
	opacity: 0;
	.chart-tech & {
		@include stagger-anim-delay($first-chart-bars, $chart-1-delay, $chart-stagger-delay);
	}
	.chart-ux & {
		@include stagger-anim-delay($second-chart-bars, $chart-2-delay, $chart-stagger-delay);
	}
	.chart-soft & {
		@include stagger-anim-delay($third-chart-bars, $chart-3-delay, $chart-stagger-delay);
	}
}
@keyframes chart-bar-grow {
	0% {
		transform: translateX(-200%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
