$first-chart-bars: 6;
$second-chart-bars: 3;
$third-chart-bars: 3;
$total-chart-bars: 12;
$chart-1-delay: .4s;
$chart-2-delay: .8s;
$chart-3-delay: 1.2s;
$chart-stagger-delay: .1s;

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
	@while $i > 0 {
		&:nth-of-type(#{$i}) {
			animation-delay: $initial-delay + $stagger-delay * $i;
		}
		$i: $i - 1;
	}
}

.skills-chart {
	height: calc(3.5 * #{$tenth-of-height});
	max-width: $max-skill-grid-width;
	width: calc(7 * #{$tenth-of-width});
	ul {
		list-style-type: none;
	}
}
/* --- Chart lines --- */
.lines {
	height: 100%;
	position: relative;
}
.line {
	background: rgba(rgb(198, 198, 198), 0.6);
	height: inherit;
	position: absolute;
	width: 2px;
	&.line-0 {
		left: 0;
	}
	&.line-30 {
		left: 33%;
	}
	&.line-60 {
		left: 66%;
	}
	&.line-90 {
		left: 99%;
	}
}
.line-label {
	@include fluid-type(font-size, $min-width, $max-width, 9px, 16px);
	bottom: -3vh;
	color: $gray-text;
	font-style: italic;
	position: absolute;
	right: 0;
}
/* --- Chart bars --- */
.charts {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.chart {
	// margin-bottom: 2vw;
}
.chart-title {
	@include fluid-type(font-size, $min-width, $max-width, 10px, 18px);
	color: #28424e;
	display: block;
	margin: 0 0 1vh 1vw;
}
.chart-horizontal {
	overflow: hidden;
}
.chart-bar {
	$border-rad: 8px;
	$chart-bar-height-factor: .175;

	align-items: center;
	border-top-right-radius: $border-rad;
	border-bottom-right-radius: $border-rad;
	background: linear-gradient(to left, #4cb8c4, #3cd3ad);
	display: flex;
	height: calc(#{$chart-bar-height-factor} * #{$tenth-of-height});
	justify-content: flex-start;
	margin-bottom: .5vh;
}
.bar-label {
	@include fluid-type(font-size, $min-width, $max-width, 8px, 16px);
	color: white;
	padding-left: 1vw;
}
.bar-30 {
	width: 33%;
}
.bar-60 {
	width: 66%;
}
.bar-90 {
	width: 99%;
}

/* --- Bars & Titles growing anim --- */
.chart-title.chart-grow {
	animation: .4s chart-bar-grow ease forwards;
	opacity: 0;
	.chart-tech & {
		animation-delay: $chart-1-delay;
	}
	.chart-ux & {
		animation-delay: $chart-2-delay;
	}
	.chart-soft & {
		animation-delay: $chart-3-delay;
	}
}
.chart-bar.chart-grow {
	animation: .4s chart-bar-grow ease forwards;
	opacity: 0;
	.chart-tech & {
		@include stagger-anim-delay($first-chart-bars, $chart-1-delay, $chart-stagger-delay);
	}
	.chart-ux & {
		@include stagger-anim-delay($second-chart-bars, $chart-2-delay, $chart-stagger-delay);
	}
	.chart-soft & {
		@include stagger-anim-delay($third-chart-bars, $chart-3-delay, $chart-stagger-delay);
	}
}
@keyframes chart-bar-grow {
	0% {
		transform: translateX(-200%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
