ul.menu {
  border: dotted 2px blue;
  position: fixed;
  li {
    border: dotted 2px aqua;
    display: inline;
    list-style-type: none;
  }
  a {
    border: dotted 2px purple;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
  }
  .activeLink {
    font-size: 3rem;
  }
}
.menuTestButton {
  background-color: aqua;
  color: white;
  height: 80px;
  margin: 140px 0 10px 40px;
  width: 160px;
}
.menuTestButton:active {
  background-color: yellow;
  color: blue;
}
