ul.menu {
  border: dotted 2px blue;
  position: fixed;
  li {
    border: dotted 2px aqua;
    display: inline;
    list-style-type: none;
  }
  a {
    border: dotted 2px purple;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
  }
  a:focus {
    background-color: green;
  }
}
