/* --- Skills Group --- */
//For slide-in animation
.skills {
	opacity: 0;
}
.skills-group {
	display: grid;
	justify-items: center;
	padding: 0 5% 0 5%;
	z-index: $above-confetti-layer;
}
.skill-group-item-0 {
	grid-area: spacer;
}
.skill-group-item-1 {
	grid-area: skillIcon;
	color: #339da9;
	font-size: 3.5rem;
}
.skill-group-item-2 {
	@include fluid-type(font-size, $min-width, $max-width, 12px, 20px);
	grid-area: skillHeader;
	color: #28424e;
}
.skill-group-item-3 {
	grid-area: expandIcon;
	color: #339da9;
	font-size: 3.5rem;
}
.skill-group-item-4 {
	@include fluid-type(font-size, $min-width, $max-width, 12px, 14px);
	grid-area: skillText;
	color: $gray-text;
	text-align: justify;
}

/* --- Skills Grid --- */
.skills-grid {
	display: grid;
	padding-top: 5%;
}
.skill-expand-icon {
	align-self: center;
	color: #339da9;
	justify-self: center;
	opacity: 0;
}
.skills-grid--large {
	$grid-width: 952px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	width: $grid-width;
	max-width: $max-width;

	.skills-group {
		align-self: center;
		justify-self: center;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr .75fr 2fr;
		grid-template-areas: "skillIcon" "skillHeader" "skillText";
		height: calc(3 * #{$tenth-of-height}); //Chart height = calc(3.5 * #{$tenth-of-height})
		width: calc(1/3 * #{$grid-width});
	}
	.skill-group-item-3 {
		@include fluid-type(font-size, $large-screen-breakpoint, $max-width, 20px, 28px);
	}
}
.skills-grid--small {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	max-height: 70%;
	max-width: $max-skill-grid-width;

	.skill-expand-icon {
		opacity: 1;
	}
	.skills-group {
		grid-template-columns: .5fr 1.1fr 3fr 1fr;
		grid-template-rows: .5fr 1.5fr;
		grid-template-areas: "spacer skillIcon skillHeader expandIcon" "skillText skillText skillText skillText";
		grid-gap: 1vw;
		height: 8vh;
		width: calc(7 * #{$tenth-of-width});
		transition: height .25s ease-in;

		.skill-group-item-1 {
			@include fluid-type(font-size, $min-width, $max-width, 22px, 62px);
			justify-self: start;
		}
		.skill-group-item-2 {
			@include fluid-type(font-size, $min-width, $max-width, 9.5px, 28px);
			align-self: center;
			justify-self: start;
		}
		.skill-group-item-3 {
			@include fluid-type(font-size, $min-width, $max-width, 16px, 34px);
			justify-self: start;
		}
		.skill-group-item-4 {
			@include fluid-type(font-size, $min-width, $max-width, 7.5px, 18px);
			padding-top: 2%;
			opacity: 0;
			transition: all .25s ease-in;
		}
		.skills-text--show {
			opacity: 1;
		}
	}
	.skills-group--expand {
		height: 15vh;
	}
	// In Landscape orientation, adjust height for reduced vh
	.skills-group--landscape {
		height: 16vh;
	}
	// In Landscape orientation, adjust height for reduced vh
	.skills-group--expand--landscape {
		height: 30vh;
	}
}
