/* --- Skills Group --- */
//For slide-in animation
.skills {
	opacity: 0;
}
.skills-group {
	display: grid;
	justify-items: center;
	padding: 0 5% 0 5%;
	z-index: $above-confetti-layer;
}
.skill-group-item-0 {
	grid-area: spacer;
}
.skill-group-item-1 {
	grid-area: skillIcon;
	color: #339da9;
}
.skill-group-item-2 {
	grid-area: skillHeader;
	color: #28424e;
}
.skill-group-item-3 {
	grid-area: expandIcon;
	color: #339da9;
}
.skill-group-item-4 {
	grid-area: skillText;
	color: $gray-text;
	text-align: justify;
}

/* --- Skills Grid --- */
.skills-grid {
	display: grid;
	margin-top: 5%;
}
.skill-expand-icon {
	align-self: center;
	color: #339da9;
	justify-self: center;
	opacity: 0;
}
.skills-grid--large {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	padding-top: 2.5%;
	width: $large-screen-breakpoint;
	max-width: $max-width;

	.skills-group {
		align-self: stretch;
		justify-self: center;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr .75fr 2fr;
		grid-template-areas: "skillIcon" "skillHeader" "skillText";
		width: calc(1/3 * #{$large-screen-breakpoint});
	}
	.skill-group-item-1 {
		@include fluid-type(font-size, $large-screen-breakpoint, $max-width, 32px, 48px);
		align-self: center;
	}
	.skill-group-item-2 {
		@include fluid-type(font-size, $large-screen-breakpoint, $max-width, 14px, 19px);
		align-self: center;
		padding-top: 2%;
	}
	.skill-group-item-3 {
		@include fluid-type(font-size, $large-screen-breakpoint, $max-width, 20px, 24px);
	}
	.skill-group-item-4 {
		@include fluid-type(font-size, $large-screen-breakpoint, $max-width, 10px, 14px);
		padding-top: 4%;
	}
	// In Landscape orientation, adjust height for reduced vh
	.skills-group--landscape {
		margin-top: -13%;
		height: 15vh;
	}
	// In Landscape orientation, adjust height for reduced vh
	.skills-group--expand--landscape {
		height: 30vh;
	}
}
.skills-grid--small {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	max-height: 30%;
	max-width: $max-skill-grid-width;
	padding-top: 5%;

	.skill-expand-icon {
		opacity: 1;
	}
	.skills-group {
		grid-template-columns: .5fr 1.1fr 3fr 1fr;
		grid-template-rows: .5fr 1.5fr;
		grid-template-areas: "spacer skillIcon skillHeader expandIcon" "skillText skillText skillText skillText";
		grid-gap: 1vw;
		height: 7vh;
		max-height: 70%;
		width: 70vw;
		transition: height .25s ease-in;

		.skill-group-item-1 {
			@include fluid-type(font-size, $min-width, $large-screen-breakpoint, 22px, 42px);
			justify-self: start;
		}
		.skill-group-item-2 {
			@include fluid-type(font-size, $min-width, $large-screen-breakpoint, 9.5px, 20px);
			align-self: center;
			justify-self: start;
		}
		.skill-group-item-3 {
			@include fluid-type(font-size, $min-width, $large-screen-breakpoint, 16px, 34px);
			justify-self: start;
		}
		.skill-group-item-4 {
			@include fluid-type(font-size, $min-width, $large-screen-breakpoint, 7.5px, 12px);
			padding-top: 2%;
			opacity: 0;
			transition: all .25s ease-in;
		}
		.skills-text--show {
			opacity: 1;
		}
	}
	.skills-group--expand {
		height: 14vh;
	}
	// In Landscape orientation, adjust height for reduced vh
	.skills-group--landscape {
		height: 15vh;
	}
	// In Landscape orientation, adjust height for reduced vh
	.skills-group--expand--landscape {
		height: 30vh;
	}
}
