/* --- Skills Group --- */
//For slide-in animation
.skills {
	opacity: 0;
}
.skills-group {
	display: grid;
	justify-items: center;
	padding: 0 5% 0 5%;
	z-index: $above-confetti-layer;
}
.skill-group-item-1 {
	grid-area: skillIcon;
	color: #339da9;
	font-size: 3.5rem;
}
.skill-group-item-2 {
	@include fluid-type(font-size, $min-width, $max-width, 12px, 20px);
	grid-area: skillHeader;
	color: #28424e;
}
.skill-group-item-3 {
	grid-area: expandIcon;
	color: #339da9;
	font-size: 3.5rem;
}
.skill-group-item-4 {
	@include fluid-type(font-size, $min-width, $max-width, 12px, 14px);
	grid-area: skillText;
	color: $gray-text;
	text-align: justify;
}

/* --- Skills Grid --- */
.skills-grid {
	// border: solid 1px purple;
	display: grid;
	padding-top: 5%;
}
.skill-expand-icon {
	align-self: center;
	color: #339da9;
	justify-self: center;
	opacity: 0;
}
.skills-grid--large {
	$grid-width: 952px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	// height: calc(3 * #{$tenth-of-height}); //Chart height = calc(3.5 * #{$tenth-of-height})
	// height: calc(.3 * #{$max-width}); //Chart height = calc(3.5 * #{$tenth-of-height})
	width: $grid-width;
	max-width: $max-width;

	.skills-group {
		align-self: center;
		justify-self: center;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr .75fr 2fr;
		grid-template-areas: "skillIcon" "skillHeader" "skillText";
		height: calc(3 * #{$tenth-of-height}); //Chart height = calc(3.5 * #{$tenth-of-height})
		// height: calc(#{$max-width} * .3);
		width: calc(1/3 * #{$grid-width});
	}
	.skill-group-item-3 {
		@include fluid-type(font-size, $large-screen-breakpoint, $about-text-responsive-max, 20px, 28px);
	}
}
.skills-grid--small {
	top: calc(1.75 * #{$tenth-of-height});
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	max-height: calc(1 * #{$tenth-of-height});
	// width: calc(7 * #{$tenth-of-width});
	max-width: $max-skill-grid-width;

	.skill-expand-icon {
		opacity: 1;
	}
	.skills-group {
		grid-template-columns: .5fr 1.4fr .1fr;
		grid-template-rows: .5fr 1.5fr;
		grid-template-areas: "skillIcon skillHeader expandIcon" "skillText skillText skillText";
		height: calc(.8 * #{$tenth-of-height});
		width: calc(7 * #{$tenth-of-width});
		transition: height .25s ease-in;

		.skill-group-item-1 {
			@include fluid-type(font-size, $min-width, $max-width, 30px, 74px);
			justify-self: start;
		}
		.skill-group-item-2 {
			@include fluid-type(font-size, $min-width, $max-width, 11px, 34px);
			align-self: center;
			justify-self: start;
		}
		.skill-group-item-3 {
			@include fluid-type(font-size, $min-width, $max-width, 16px, 38px);
			justify-self: end;
		}
		.skill-group-item-4 {
			@include fluid-type(font-size, $min-width, $max-width, 9px, 26px);
			padding-top: 2%;
			opacity: 0;
			transition: all .25s ease-in;
		}
		.skills-text--show {
			opacity: 1;
		}
	}
	.skills-group--expand {
		height: calc(1.5 * #{$tenth-of-height});
	}
}
