#portfolioWrapper {
  background-color: white;
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  //Set height to be dynamic/responsive based on content flow
  width: 100%;
  height: auto;
  margin: 0px;
  max-width: initial;
}
.project-card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // height: auto;
  margin-bottom: 30px;
  width: 500px;
}
.project-image {
  width: 100%;
}
.project-text {
  text-align: center;
  padding: 10px 20px;
}
