.cardinfo {
	color: black;
	height: 100%;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%); //for positioning not animation
	width: 100%;
	p {
		// padding: 6px 3px 6px 3px;
		// padding: 2vh 1vw 2vh 1vw;
		@include fluid-type(padding-top, $min-width, $max-width, 6px, 18px);
		@include fluid-type(padding-right, $min-width, $max-width, 3px, 9px);
		@include fluid-type(padding-bottom, $min-width, $max-width, 6px, 18px);
		@include fluid-type(padding-left, $min-width, $max-width, 3px, 9px);
	}
	a:link,
	a:visited {
		color: $secondary-orange-light;
		cursor: pointer;
		text-decoration: none;
	}
}
.card-title {
	animation: slideFromTop .55s 0s forwards;

	border-bottom: 1.5px solid $secondary-orange-light;
	color: $gap-blue;
	font-weight: bold;
	// @include fluid-type(font-size, $min-width, $max-width, 7px, 18px);
	@include fluid-type(font-size, $min-width, $max-width, 7px, 14px);
}
.card-text {
	animation: slideFromBottom .55s 0s forwards;
	border: solid 1px green;

	color: $gap-blue;
	display: inline-block;
	margin: 1vw 1vw;
	text-shadow: 1px 1px rgb(255, 255, 255);
	text-align: left;
	white-space: pre-line;
	// @include fluid-type(font-size, $min-width, $max-width, 5px, 16px);
	@include fluid-type(font-size, $min-width, $max-width, 5px, 12px);
}
.card-link {
	// @include fluid-type(font-size, $min-width, $max-width, 8px, 18px);
	@include fluid-type(font-size, $min-width, $max-width, 8px, 14px);
}
.link-icon {
	color: $secondary-orange-light;
	font-size: 0.9rem;
	padding: 0 0.5vw 0 0.5vw;
}
