.cardinfo {
  color: black;
  height: 100%;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);    
  width: 100%;
  p {
    padding: 2vh 1vw 2vh 1vw;
  }
  a:link,
  a:visited {
    color: $secondary-orange-light;
    text-decoration: none;
  }
}
.card-title {
  border-bottom: 1.5px solid $secondary-orange-light;
  color: $gap-blue;
  font-weight: bold;
}
.card-text {
  color: $gap-blue;
  font-style: italic;
}
.link-icon {
  color: $secondary-orange-light;
  font-size: 0.9rem;
  padding: 0 0.5vw 0 0.5vw;
}
