.cardinfo {
  color: white;
  height: 100%;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);    
  width: 100%;
  p {
    padding: 2vh 1vw 2vh 1vw;
  }
  a:link,
  a:visited {
    color: orange;
    text-decoration: none;
  }
}
.card-title {
  color: blue;
}
.card-text {
  font-style: italic;
}
.link-icon {
  color: orange;
  font-size: 0.9rem;
  padding: 0 0.5vw 0 0.5vw;
}
