/* Ensure pure, inclusive box sizing across browsers. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Set the page's max-width within the viewport */
body {
	height: 100vh;
	max-width: $max-width;
	min-width: $min-width;
	margin: 0 auto !important;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}
.section-wrapper {
	padding-top: 10vh;
}
.section-header {
	color: $gap-blue;
	opacity: 0;
	text-align: center;
	z-index: $above-confetti-layer;
}
.content-layer {
	z-index: $above-confetti-layer;
}
.section-header.slide-in-from-left {
	animation: slideFromLeft .75s .1s forwards;
}
.blur {
	filter: blur(0.25vw);
}

/* Mixins
------------------------------------ */
//Fluid-type Mixin based on https://github.com/robertraichle/fluid-type-mixin
//$min-vw & $max-vw are width values (in pixels), not actual vw unit values - essentially break points
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	@each $property in $properties {
		#{$property}: $min-value;
	}

	@media screen and (min-width: $min-vw) {
		@each $property in $properties {
			#{$property}: calc(
				#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit(
						$max-vw - $min-vw
					)}
			);
		}
	}

	@media screen and (min-width: $max-vw) {
		@each $property in $properties {
			#{$property}: $max-value;
		}
	}
}
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

/* Shared Keyfram anims
------------------------------------ */
@keyframes slideFromLeft {
	0% {
		opacity: 0;
		transform: translateX(-200%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes slideFromRight {
	0% {
		opacity: 0;
		transform: translateX(200%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
@keyframes slideFromBottom {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes slideFromTop {
	0% {
		opacity: 0;
		transform: translateY(-200%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes slideFromMidBottom {
	0% {
		opacity: 0;
		transform: translateY(75%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes slideFromMidTop {
	0% {
		opacity: 0;
		transform: translateY(-75%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes fadeAway {
	0% {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	100% {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
}
