/* Ensure pure, inclusive box sizing across browsers. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Set the page's max-width within the viewport */
body {
  height: 100vh;
  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto !important;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

/* CSSTransition "fade" Class
------------------------------------ */
.fade-appear,
.fade-enter {
  opacity: 0;
}
.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity $transition-time ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity $transition-time ease-in-out;
}
.fade-exit-done {
  opacity: 0;
}
