//Themed colors:
$gap-blue: #1b4664;
// $primary-blue: #546e7a;
$primary-blue: #1b4664;
$primary-blue-light: #819ca9;
$primary-blue-dark: #1b4664;
// $primary-blue-dark: #29434e;
$secondary-orange: #f4511c;
$secondary-orange-light: #ff844b;
$secondary-orange-dark: #b91400;
$gray-med: #e1e2e1;
$gray-light: #f5f5f6;

//TEMP color vars:
$background-gray: rgb(106, 106, 106);
$background-white: whitesmoke;
$menu-icon-color: #333;
$gray-text: gray;
$white-text: white;

//LAYOUT Variables:
$app-margin-LR: 2%;
$max-width: 1200px;
$min-width: 320px;

//Z-INDEX Variables:
$nav-wrapper-layer: 1;
$overlay-layer: 2;
$sidebar-layer: 3;
$navbar-layer: 4;
$icon-layer: 5;

//ANIMATION Variables:
$fade-transition-time: 1s;
$sidebar-trans-time: 0.5s; //NEEDS TO MATCH UP WITH SIMILAR VAR IN constants.js
$button-transition-slide: 0.3s;
$button-transition-fade: 0.4s;

//TESTING Variables:
$test-text-color: red;
$test-section-height: 1200px;
