//LAYOUT Variables:
$app-margin-LR: 2%;
$max-width: 1440px;
$min-width: 320px;
$tenth-of-width: 10vw;
// $tenth-of-height: 10vh;
$tenth-of-height: 30%;
$large-screen-breakpoint: 992px; //Need to match constants.js - LARGE_SCREEN
$navbar-min-height: 48px;
$navbar-max-height: 60px;

//Z-INDEX Variables:
$confetti-layer: 0;
$above-confetti-layer: 9;
$nav-wrapper-layer: 10;
$overlay-layer: 20;
$sidebar-layer: 30;
$navbar-layer: 40;
$icon-layer: 50;

//Themed colors:
$gap-blue: #1b4664;
// $primary-blue: #546e7a;
$primary-blue: #1b4664;
$primary-blue-light: #819ca9;
$primary-blue-dark: #1b4664;
// $primary-blue-dark: #29434e;
$secondary-orange: #f4511c;
$secondary-orange-light: #ff844b;
$secondary-orange-dark: #b91400;
$gray-med: #e1e2e1;
$gray-light: #f5f5f6;
$highlight-yellow: rgb(251, 227, 69);

//Navbar color:
$background-blue-light: rgb(45, 126, 154);
$border-blue-dark: rgb(6, 18, 104);

//Button Color Variables:
$button-bg-blue: rgba(27, 70, 100, .6);
$button-border: rgb(152, 217, 238);
$button-text-color: rgb(152, 217, 238);
$button-hover-bg-blue: rgba(152, 217, 238, .7);
$button-hover-border: white;
$button-hover-text-color: white;
$button-active-bg-gray: rgba(238, 238, 238, 0.324);
$button-active-text-color: black;

//MISC color vars:
$background-gray: rgb(106, 106, 106);
$background-white: whitesmoke;
$menu-icon-color: #333;
$gray-text: gray;
$white-text: white;

//ANIMATION Variables:
$fade-transition-time: 1s;
$sidebar-trans-time: 0.5s; //NEEDS TO MATCH UP WITH SIMILAR VAR IN constants.js
$button-transition-slide: 0.3s;
$button-transition-fade: 0.4s;

//TESTING Variables:
$test-text-color: red;
$test-section-height: 1200px;
