//COLOR Variables:
$background-gray: rgb(106, 106, 106);
$background-white: whitesmoke;
$menu-icon-color: #333;
$gray-text: gray;
$white-text: white;

//LAYOUT Variables:
$app-margin-LR: 2%;
$max-width: 1080px;
$min-width: 400px;
$navbar-height: 80px;

//ANIMATION Variables:
$transition-time: 500ms; //REMOVE/REPLACE

//TESTING Variables:
$test-text-color: red;
$test-section-height: 1200px;
