/* --- Skills Variables & Mixins --- */
$first-chart-bars: 6;
$second-chart-bars: 3;
$third-chart-bars: 3;
$chart-1-delay: .4s;
$chart-2-delay: .8s;
$chart-3-delay: 1.2s;
$chart-stagger-delay: .1s;
$chart-width: 70vw;
$skill-box-side-3-across: 90vw;
$skill-box-side: 18vw;
$max-skill-grid-width: 1000px;

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
	@while $i > 0 {
		&:nth-of-type(#{$i}) {
			animation-delay: $initial-delay + $stagger-delay * $i;
		}
		$i: $i - 1;
	}
}

/* --- Skills Wrapper --- */
.skills-wrapper {
	background-color: $background-white;
	color: black;
	display: grid;
	height: 100%;
	justify-items: center;
}

/* --- Skills Group --- */
.skill-group-item-1 {
	grid-area: skillIcon;
}
.skill-group-item-2 {
	grid-area: skillHeader;
}
.skill-group-item-3 {
	grid-area: skillText;
}
.skills {
	opacity: 0;
}
.skills-group {
	display: grid;
	justify-items: center;
	padding: 5% 5% 0 5%;
	z-index: $above-confetti-layer;
	h3 {
		color: #28424e;
		@include fluid-type(font-size, $min-width, $max-width, 12px, 20px);
	}
}
.fa-icon {
	// color: #28424e; //TEMP - to be defined in Variables
	// color: #3cd3ad;
	// color: #4cb8c4;
	color: #339da9;
	font-size: 3.5rem;
	// padding: 40px 0 40px 0;
}
.skills-text {
	@include fluid-type(font-size, $min-width, $max-width, 12px, 15px);
	color: $gray-text;
	// padding-top: 2vh;
	text-align: justify;
}

/* --- Skills Grid --- */
.skills-grid {
	display: grid;
}
.skills-grid--large {
	// border: solid 5px orange;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	height: calc(1/3 * #{$skill-box-side-3-across});
	width: $skill-box-side-3-across;
	// max-height: calc(1/3 * #{$max-skill-grid-width});
	// max-width: calc(1/3 * #{$max-skill-grid-width});
	.skills-group {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr .75fr 2fr;
		grid-template-areas: "skillIcon" "skillHeader" "skillText";
		height: calc(1/3 * #{$skill-box-side-3-across}); //Set box height to 1/3 of grid width
		width: calc(1/3 * #{$skill-box-side-3-across});
		// max-height: calc(1/3 * #{$max-skill-grid-width});
		// max-width: calc(1/3 * #{$max-skill-grid-width});
	}
	.skills-text {
		@include fluid-type(font-size, $large-screen-breakpoint, $about-text-responsive-max, 20px, 28px);
	}
}
.skills-grid--small {
	// border: solid 5px pink;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	height: calc(6 * #{$skill-box-side});
	width: calc(3 * #{$skill-box-side});
	.skills-group {
		grid-template-columns: .5fr 1.5fr;
		grid-template-rows: .5fr 1.5fr;
		grid-template-areas: "skillIcon skillHeader" "skillText skillText";
		height: calc(2 * #{$skill-box-side});
		width: calc(3 * #{$skill-box-side});
		// max-height: calc(1/3 * #{$max-skill-grid-width});
		// max-width: calc(1/3 * #{$max-skill-grid-width});
	}
	.fa-icon {
		@include fluid-type(font-size, $min-width, $max-width, 30px, 74px);
		justify-self: start;
	}
	h3 {
		@include fluid-type(font-size, $min-width, $max-width, 11px, 38px);
		align-self: center;
		justify-self: start;
	}
	.skills-text {
		@include fluid-type(font-size, $min-width, $max-width, 9px, 32px);
		padding-top: 2vw;
	}
}

/* --- Skills Chart --- */
.skills-chart-wrapper {
	padding: 10vh 0 20vh 0;
}
.skills-chart {
	// align-self: start;
	height: calc(2/3 * #{$chart-width});
	// margin-left: auto;
	// margin-right: auto;
	max-width: 1000px;
	position: relative;
	width: $chart-width;
	z-index: $above-confetti-layer;
	ul {
		list-style-type: none;
	}
}
/* --- Chart lines --- */
.lines {
	height: 100%;
	position: relative;
}
.line {
	background: rgba(rgb(198, 198, 198), 0.6);
	height: inherit;
	position: absolute;
	width: 2px;
	&.line-0 {
		left: 0;
	}
	&.line-30 {
		left: 33%;
	}
	&.line-60 {
		left: 66%;
	}
	&.line-90 {
		left: 99%;
	}
}
.line-label {
	@include fluid-type(font-size, $min-width, $max-width, 8px, 16px);
	bottom: -3vw;
	color: $gray-text;
	font-style: italic;
	position: absolute;
	right: 0;
}
/* --- Chart bars --- */
.charts {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.chart {
	margin-bottom: 2vw;
}
.chart-title {
	@include fluid-type(font-size, $min-width, $max-width, 12px, 18px);
	color: #28424e;
	display: block;
	margin: 0 0 1vw 1vw;
}
.chart-horizontal {
	overflow: hidden;
}
.chart-bar {
	$border-rad: 8px;
	border-top-right-radius: $border-rad;
	border-bottom-right-radius: $border-rad;
	background: linear-gradient(to left, #4cb8c4, #3cd3ad);
	// background: linear-gradient(to left, rgb(45, 126, 154), #3cc4d3);
	// background: linear-gradient(to left, $secondary-orange, $secondary-orange-dark);
	// background: linear-gradient(to left, $secondary-orange-dark, $secondary-orange);
	height: 2vw;
	margin-bottom: .5vw;
}
.bar-label {
	color: white;
	padding-left: 1vw;
}
.bar-30 {
	width: 33%;
}
.bar-60 {
	width: 66%;
}
.bar-90 {
	width: 99%;
}

/* --- Animations --- */
/* --- Slide-in on scroll animation --- */
.skills.slide-skills {
	animation: slideFromBottom .75s .2s forwards;
}
.skills.slide-skills.skills-chart {
	margin-left: auto;
	margin-right: auto;
}

/* --- Bars & Titles growing anim --- */
.chart-title.chart-grow {
	animation: .4s chart-bar-grow ease forwards;
	opacity: 0;
	.chart-tech & {
		animation-delay: $chart-1-delay;
	}
	.chart-ux & {
		animation-delay: $chart-2-delay;
	}
	.chart-soft & {
		animation-delay: $chart-3-delay;
	}
}
.chart-bar.chart-grow {
	animation: .4s chart-bar-grow ease forwards;
	opacity: 0;
	.chart-tech & {
		@include stagger-anim-delay($first-chart-bars, $chart-1-delay, $chart-stagger-delay);
	}
	.chart-ux & {
		@include stagger-anim-delay($second-chart-bars, $chart-2-delay, $chart-stagger-delay);
	}
	.chart-soft & {
		@include stagger-anim-delay($third-chart-bars, $chart-3-delay, $chart-stagger-delay);
	}
}
@keyframes chart-bar-grow {
	0% {
		transform: translateX(-200%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
