/* --- Skills Wrapper --- */
.skills-wrapper {
	background-color: $background-white;
	color: black;
	display: grid;
	width: 100%;
}

/* --- Skills Group --- */
.skills-group-wrapper {
	display: grid;
	justify-items: center;
	padding-top: 1%;
}
.skills-group {
	align-content: start;
	display: grid;
	// height: auto;
	height: calc(1/3 * 90vw);
	justify-items: center;
	padding: 2% 3% 0 3%;
	// width: 75%;
	width: calc(1/3 * 90vw);
	z-index: $above-confetti-layer;
}
.skills-group-wrapper--large {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
.skills-group-wrapper--small {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.skills-text {
	@include fluid-type(font-size, $min-width, $max-width, 12px, 16px);
	color: $gray-text;
	padding-top: 2vh;
	text-align: justify;
}
.skills-graphic {
	position: relative;
	z-index: $above-confetti-layer;
}
// #chart {
// 	display: block;
// 	height: auto;
// 	margin-left: auto;
// 	margin-right: auto;
// 	margin-top: 10%;
// 	padding-bottom: 5%;
// 	width: 70%;
// }
.fa-icon {
	color: #28424e; //TEMP - to be defined in Variables
	font-size: 3.5rem;
	padding: 40px 0 40px 0;
}
.skills {
	opacity: 0;
}

/* --- Skills Chart --- */
$chart-1-delay: .5s;
$chart-2-delay: 1.5s;
$chart-3-delay: 2.5s;
@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
	@while $i > 0 {
		&:nth-of-type(#{$i}) {
			animation-delay: $initial-delay + $stagger-delay * $i;
		}
		$i: $i - 1;
	}
}
.skills-chart {
	$chart-width: 70vw;
	height: calc(2/3 * #{$chart-width});
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	// padding-bottom: 5%;
	position: relative;
	width: $chart-width;
	z-index: $above-confetti-layer;
	ul {
		list-style-type: none;
	}
}
/* --- chart lines --- */
.lines {
	height: 100%;
	position: relative;
}
.line {
	background: rgba(rgb(198, 198, 198), 0.6);
	height: inherit;
	position: absolute;
	width: 2px;
	&.line-0 {
		left: 0;
	}
	&.line-30 {
		left: 33%;
	}
	&.line-60 {
		left: 66%;
	}
	&.line-90 {
		left: 99%;
	}
}
.line-label {
	display: block;
	position: absolute;
	right: 4vw;
	text-align: center;
	top: -3vw;
	width: 100%;
}
/* --- chart bars --- */
.charts {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.chart {
	margin-bottom: 2vw;
}
.chart-title {
	animation: 1s anim-lightspeed-in ease forwards;
	display: block;
	margin: 0 0 1vw 1vw;
	opacity: 0;
	.chart-tech & {
		animation-delay: $chart-1-delay;
	}
	.chart-ux & {
		animation-delay: $chart-2-delay;
	}
	.chart-soft & {
		animation-delay: $chart-3-delay;
	}
}
.chart-horizontal {
	overflow: hidden;
}
.chart-bar {
	$border-rad: 8px;
	animation: 1s anim-lightspeed-in ease forwards;
	border-top-right-radius: $border-rad;
	border-bottom-right-radius: $border-rad;
	background: linear-gradient(to left, #4cb8c4, #3cd3ad);
	height: 2vw;
	margin-bottom: .5vw;
	opacity: 0;
	.chart-tech & {
		@include stagger-anim-delay(6, $chart-1-delay, 0.2s);
	}
	.chart-ux & {
		@include stagger-anim-delay(3, $chart-2-delay, 0.2s);
	}
	.chart-soft & {
		@include stagger-anim-delay(3, $chart-3-delay, 0.2s);
	}
}
.bar-label {
	color: white;
	// line-height: 30px;
	padding-left: 1vw;
}
.bar-30 {
	width: 33%;
}
.bar-60 {
	width: 66%;
}
.bar-90 {
	width: 99%;
}
@keyframes anim-lightspeed-in {
	0% {
		transform: translateX(-200%);
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

/* --- Slide Class for slide animation --- */
.skills.slide-skills {
	animation: slideFromBottom .75s .2s forwards;
}
