.links-wrapper {
  display: grid;
  a {
    font-weight: bold;
    text-decoration: none;
  }
  .activeLink {
    color: red;
  }
  .menuLink {
    font-size: 1.4rem;
  }
}
.links-wrapper--wide {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  .menuLink {
    justify-self: end;
  }
}
.links-wrapper--narrow {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  .menuLink {
    justify-self: center;
  }
}
