/* --- About Variables --- */
$about-grid-width: 72vw;
$about-hover-fade-anim-duration: 1s;
$about-anim-duration: .75s;
$about-anim-delay: .1s;

/* --- About Wrapper --- */
.about-wrapper {
	align-content: start;
	background-color: rgb(222, 222, 222);
	display: grid;
	justify-content: center; //Justify/center the grid in the middle of the page
}

/* --- Grid-template-area Items --- */
.about {
	opacity: 0;
}
.item-a {
	background-color: rgba(118, 118, 118, 0.796);
	display: flex;
	grid-area: profilePic;
	img {
		object-fit: cover;
		width: 100%;
	}
	.first-pic {
		animation: fadeIn 2s ease;
		display: inline-block;
	}
	.second-pic {
		display: none;
	}
}
.item-b {
	background-color: rgb(255, 255, 255);
	grid-area: profileText;
	transition: $about-hover-fade-anim-duration ease;

	.grid-text {
		@include fluid-type(font-size, $min-width, $max-width, 12px, 18px);
		color: $gap-blue;
		font-weight: normal;
		padding: 12% 8% 0 8%;
		transition: $about-hover-fade-anim-duration ease;
		width: 100%;
	}
}
.item-c {
	background-color: rgb(193, 193, 193);
	grid-area: logo1;
	position: relative;
	transition: $about-hover-fade-anim-duration ease;
}
.item-d {
	background-color: rgb(0, 0, 0);
	grid-area: logo2;
	position: relative;
	transition: $about-hover-fade-anim-duration ease;
	.logo-on-hover {
		opacity: 0;
		transition: $about-hover-fade-anim-duration ease;
	}
}
.item-e {
	background-color: rgb(174, 211, 222);
	grid-area: logo3;
	position: relative;
	transition: $about-hover-fade-anim-duration ease;
}

/* --- Grid --- */
.about-grid {
	display: grid;
	// height: calc(2/3 * 80vw);
	// grid-template-columns: 1fr 1fr 1fr;
	// grid-template-rows: 1fr 1fr;
	// grid-template-areas: "profilePic profileText profileText" "logo1 logo2 logo3";
	margin-top: 3vh;
	width: $about-grid-width;
	max-width: calc(#{$max-width} - 4vw); //Leave some side padding on the grid
	z-index: $above-confetti-layer;
}
.about-grid--large {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "profilePic profileText profileText" "logo1 logo2 logo3";
	.about {
		height: calc(1/3 * #{$about-grid-width});
		max-height: calc(1/3 * #{$max-width});
	}
}
.about-grid--small {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "profileText profileText" "logo2 logo3" "logo1 profilePic";
	.about {
		height: calc(1/2 * #{$about-grid-width});
		max-height: calc(1/2 * #{$max-width});
	}
}

/* --- Logo Styling --- */
.item-logo {
	align-self: center;
	display: flex;
	justify-content: space-around;
}
.grid-logo {
	left: 20%;
	position: absolute;
	top: 40%;
	width: 60%;
}

/* --- Slide Class for slide animation --- */
.about.slide-about.item-a,
.about.slide-about.item-c {
	animation: slideFromLeft $about-anim-duration $about-anim-delay forwards;
}
.about.slide-about.item-b,
.about.slide-about.item-d,
.about.slide-about.item-e {
	animation: slideFromRight $about-anim-duration $about-anim-delay forwards;
}

/* --- If hover-capable device, hover styling --- */
@media (hover: hover) {
	.item-a:hover {
		.first-pic {
			display: none;
		}
		.second-pic {
			animation: fadeIn 2s ease;
			display: inline-block;
		}
	}
	.item-b:hover {
		background-color: transparent;
		.grid-text {
			color: black;
			font-weight: bold;
		}
	}
	.item-c:hover {
		background-color: transparent;
	}
	.item-d:hover {
		background-color: transparent;
		.logo-on-hover {
			opacity: 1.0;
		}
	}
	.item-e:hover {
		background-color: transparent;
	}
}

/* --- Keyframe Animations --- */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
