.about-wrapper {
  background-color: $background-white;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  margin-top: 6%;
}
.about-content-block {
  display: grid;
  padding: 0 6% 0 6%;
  width: 100%;
}
#profilePic {
  border-radius: 50%;
  height: auto;
  margin-bottom: 12%;
  justify-self: end;
  width: 14%;
}
#aboutTextWrapper {
  margin-bottom: 14%;
  .about-text {
    @include fluid-type(font-size, $min-width, $max-width, 12px, 26px);
    color: $gray-text;
    padding: 2%;
  }
}
#logosWrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  .about-logo {
    height: auto;
    width: 22%;
  }
}
