/* --- About Wrapper --- */
.about-wrapper {
	align-content: start;
	background-color: rgb(222, 222, 222);
	display: grid;
	justify-content: center; //Justify/center the grid in the middle of the page
}

/* --- Grid-template-area Items --- */
.item {
	opacity: 0;
}
.item-a {
	display: flex;
	grid-area: profilePic;

	img {
		border-radius: none;
		object-fit: cover;
		width: 100%;
	}
	.first-pic {
		animation: fadeIn 1s 0s;
		display: inline-block;
	}
	.second-pic {
		display: none;
	}
}
.item-b {
	background-color: rgb(255, 255, 255);
	grid-area: profileText;
	transition: .4s ease;

	.grid-text {
		@include fluid-type(font-size, $min-width, $max-width, 12px, 18px);
		color: $gap-blue;
		font-weight: normal;
		padding: 12% 8% 0 8%;
		transition: .4s ease;
		width: 100%;
	}
}
.item-c {
	background-color: rgb(193, 193, 193);
	grid-area: logo1;
	position: relative;
	transition: .4s ease;
}
.item-d {
	background-color: rgb(0, 0, 0);
	grid-area: logo2;
	position: relative;
	transition: .4s ease;
	.logo-on-hover {
		opacity: 0;
		transition: .4s ease;
	}
}
.item-e {
	background-color: rgb(174, 211, 222);
	grid-area: logo3;
	position: relative;
	transition: .4s ease;
}

/* --- Grid --- */
.about-grid {
	display: grid;
	height: calc(2/3 * 80vw);
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "profilePic profileText profileText" "logo1 logo2 logo3";
	margin-top: 5vh;
	width: 80vw;
	z-index: $above-confetti-layer;
}

/* --- Logo Styling --- */
.item-logo {
	align-self: center;
	display: flex;
	justify-content: space-around;
}
.grid-logo {
	left: 20%;
	position: absolute;
	top: 40%;
	width: 60%;
}

/* --- Slide Class for slide animation --- */
.item.slide-transition.item-a,
.item.slide-transition.item-c {
	animation: slideFromLeft .75s .1s forwards;
}
.item.slide-transition.item-b,
.item.slide-transition.item-d,
.item.slide-transition.item-e {
	animation: slideFromRight .75s .1s forwards;
}

/* --- If hover-capable device, hover styling --- */
@media (hover: hover) {
	.item-a:hover {
		img {
			// border-radius: 50%;
		}
		.first-pic {
			display: none;
		}
		.second-pic {
			animation: fadeIn 1s 0s;
			display: inline-block;
		}
	}
	.item-b:hover {
		background-color: transparent;
		.grid-text {
			color: black;
			font-weight: bold;
		}
	}
	.item-c:hover {
		background-color: transparent;
	}
	.item-d:hover {
		background-color: transparent;
		.logo-on-hover {
			opacity: 1.0;
		}
	}
	.item-e:hover {
		background-color: transparent;
	}
}

/* --- Keyframe Animations --- */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
