//SHOULD MAKE CARD HEIGHT & WIDTH SCALE RESPONSIVELY
.card {
  background-color: $background-white;
  height: calc(.4 * 80vw);
  position: relative;
  width: calc(1/2 * 80vw);
  z-index: $above-confetti-layer;
}
.card-front {
  height: 100%;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
  }
}
.card-back {
  background-color: rgba(255, 255, 255, 0.728);
  bottom: 0;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: 0.3s ease;
  width: 100%;
}
.card-flipped {
  .card-front {
    filter: blur(3px);
  }
  .card-back {
    height: 100%;
  }
}



// .card-content {
//   // object-fit: cover;
//   // width: 100%;

//   // transition: background-color 0.5s ease-in-out;

//   // transition: transform 0.6s;
//   // transform-style: preserve-3d;
// }
// .card-flipped {
//   // transform: rotateY(-180deg);
// }

// .card-content--front,
// .card-content--back {
//   backface-visibility: hidden;
//   position: absolute;
//   p {
//     text-align: center;
//   }
// }
// .card-content--front {
//   img {
//     object-fit: cover;
//     width: 100%;
//   }
// }
// .card-content--back {
//   // transform: rotateY(180deg);
// }