.home-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.overlayText {
	@include fluid-type(font-size, $min-width, $max-width, 22px, 44px);
	color: white;
	position: absolute;
	text-align: center;
	text-shadow: 2px 2px rgb(0, 0, 0);
	z-index: $above-confetti-layer;

	p {
		padding-top: .8%;
	}
	#name {
		color: $highlight-yellow;
		font-weight: 500;
	}
}
#welcomeBtn {
	@include fluid-type(font-size, $min-width, $max-width, 12px, 32px);
	background-color: $button-bg-blue;
	border: solid 0.05vw $button-border;
	color: $button-text-color;
	cursor: pointer;
	height: 6vh;
	margin-top: 5vh;
	min-height: 44px;
	text-shadow: 1px 1px rgb(0, 0, 0);
	transition: 0.1s ease-in-out;
	width: 28vw;
}
//For accessibility only on landing page
button:focus {
	outline: none;
}

/* --- Animations --- */
/* --- Slide-in on scroll animation --- */
.home {
	opacity: 0;
}
.home.slide-home {
	animation: slideFromBottom .75s .2s forwards;
}

/* --- Input Media Queries --- */
//If hover-capable device, do overlay on hover
@media (hover: hover) {
	#welcomeBtn:hover {
		background-color: $button-hover-bg-blue;
		border: solid 0.2vw $button-hover-border;
		color: $button-hover-text-color;
	}
}
//If touch-capable device, do overlay on touch/click
@media (any-pointer: coarse) {
	#welcomeBtn:active {
		background-color: $button-active-bg-gray;
		color: $button-active-text-color;
	}
}

/* --- Responsive Media Queries --- */
/* Small (sm) */
@media (min-width: 320px) {
	.home-wrapper {
		background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.85)), url(../assets/bg-sm.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
/* Medium (md) */
@media (min-width: 768px) {
	.home-wrapper {
		background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.85)), url(../assets/bg-med.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
/* Large (lg) */
@media (min-width: 1024px) {
	.home-wrapper {
		background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.85)), url(../assets/bg-lrg.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
/* Extra Large (xl) */
@media (min-width: 1280px) {
	.home-wrapper {
		background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.85)), url(../assets/bg-xlrg.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
