.home-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
  background-color: transparent;
  border: solid $primary-blue-light 2px;
  color: $primary-blue-light;
  display: inline-block;
  font-size: 2vw;
  height: 5vh;
  padding: 10px 50px;
  position: relative;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-color: rgba(129, 156, 169, 0.7);
  border: solid rgba(129, 156, 169, 0.7) 2px;
  color: #eee; //TEMP - to be defined in Variables
}
.btn:hover #buttonIcon {
  opacity: 1;
  transform: translateY(10px);
}
.btn:hover #buttonText {
  opacity: 0;
  transform: translateY(10px);
}
#buttonIcon {
  left: 0;
  margin: -20px auto 0 auto;
  transform: translateX(-50%);
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translateY(0px);
  transition: opacity 0.25s linear, transform 0.25s linear;
}
#buttonText {
  left: 0;
  margin: -12px auto 0 auto;
  transform: translateX(-50%);
  opacity: 1;
  position: absolute;
  right: 0;
  transform: translateY(0px);
  transition: opacity 0.25s linear, transform 0.25s linear;
}
.btn:active {
  background-color: #eee; //TEMP - to be defined in Variables
}
//For accessibility only on landing page
button:focus {
  outline: none;
}
