.home-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
  background-color: rgba(50, 50, 50, 0.53);
  border-bottom: none;
  border-top: none;
  border-width: 0.1vw;
  color: rgba(255, 255, 255, 0.94);
  cursor: pointer;
  display: inline-block;
  font-size: 6vw;
  height: 100%;
  padding: 10vh 20vw 0 20vw;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px rgba(128, 128, 128, 0.851);
  width: 50%;
  z-index: $above-confetti-layer;
}

.blur-inner {
  filter: blur(0.4vw);
}
.blur-outer {
  filter: blur(0.1vw);
}
#buttonText {
  left: 0;
  margin: -14px auto 0 auto;
  opacity: 1;
  position: absolute;
  right: 0;
}
//For accessibility only on landing page
button:focus {
  outline: none;
}
.btn:active {
  background-color: rgba(
    238,
    238,
    238,
    0.324
  ); //TEMP - to be defined in Variables
  color: black;
}
