.home-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlayText {
  color: white;
  font-size: 3.5vw;
  position: absolute;
  text-align: center;
  text-shadow: 2px 2px rgb(0, 0, 0);
  z-index: $above-confetti-layer;

  p {
    padding-top: .8vh;
  }
  #name {
    // color: rgb(152, 217, 238);
    color: rgb(251,227,69);
    font-weight: 500;
  }
}
#welcomeBtn {
  background-color: rgba(27,70,100,.6);
  border: solid 0.05vw rgb(152, 217, 238);
  // color: white;
  // background-color: rgba(140, 140, 140, 0.7);
  // background-color: rgba(219,240,251,.3);
  // border: solid 0.2vw rgb(152, 217, 238);
  // border: solid 0.05vw white;
  color: rgb(152, 217, 238);
  cursor: pointer;
  font-size: 1.8vw;
  height: 6vh;
  margin-top: 5vh;
  text-shadow: 1px 1px rgb(0, 0, 0);
  transition: 0.1s ease-in-out;
  width: 28vw;
}
//For accessibility only on landing page
button:focus {
  outline: none;
}

//If hover-capable device, do overlay on hover
@media (hover: hover) {
  #welcomeBtn:hover {
    background-color: rgba(152, 217, 238,.7);
    // background-color: rgba(140, 140, 140, 0.7);
    // background-color: rgba(27,70,100,.6);
    // border: solid 0.4vw rgb(27,70,100);
    border: solid 0.3vw white;
    // color: rgb(251,227,69);
    color: white;
    // color: rgb(152, 217, 238);
    }  
}
//If touch-capable device, do overlay on touch/click
@media (any-pointer: coarse) {
  #welcomeBtn:active {
    background-color: rgba(
      238,
      238,
      238,
      0.324
    ); //TEMP - to be defined in Variables
    color: black;
    }  
}
