.contact-wrapper {
  background-color: $background-gray;
  color: $white-text;
  // height: auto;
  padding-bottom: 7vh;
  width: 100%;
}
.logo-icon {
  font-size: 5rem;
  padding: 10px;
}
#contactSection {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;
}
#contactForm {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px;
  width: 50%;
}
