#contactForm {
	display: grid;
	justify-items: center;
	padding-top: 3vh;

	#emailLabel {
		@include fluid-type(font-size, $min-width, $max-width, 16px, 26px);
		font-family: inherit;
		margin-top: 12px;
	}
	#userComments {
		@include fluid-type(font-size, $min-width, $max-width, 12px, 18px);
		font-family: inherit;
		height: 8rem;
		margin-top: 10px;
		padding: 5px 15px 5px 15px;
		width: 20rem;
		max-height: 300px;
		max-width: 380px;
	}
	#userEmail {
		@include fluid-type(font-size, $min-width, $max-width, 12px, 18px);
		font-family: inherit;
		margin-top: 2px;
		padding: 5px 15px 5px 15px;
		width: 20rem;
		max-width: 380px;
	}
	#submitButton {
		@include fluid-type(font-size, $min-width, $max-width, 14px, 22px);
		background-color: $button-bg-blue;
		border: solid 0.05vw $button-border;
		color: $button-text-color;
		cursor: pointer;
		font-family: inherit;
		height: 2.4rem;
		margin-top: 4px;
		text-shadow: 1px 1px rgb(0, 0, 0);
		width: 20rem;
		max-width: 380px;
		z-index: 100;
	}
}
.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s .3s, opacity .3s ease-out;
}

/* --- If hover-capable device, do overlay on hover --- */
@media (hover: hover) {
	#contactForm {
		#submitButton:hover {
			background-color: $button-hover-bg-blue;
			border: solid 0.2vw $button-hover-border;
			color: $button-hover-text-color;
		}
	}
}
//If touch-capable device, do overlay on touch/click
@media (any-pointer: coarse) {
	#contactForm {
		#submitButton:active {
			background-color: $button-active-bg-gray;
			color: $button-active-text-color;
		}
	}
}
