/* Confetti Styling ------------------- */
.confetti {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  span {
    animation: float 25s infinite;
    bottom: -60vh;
    color: white;
    display: block;
    position: absolute;
    transition-timing-function: linear;

    &:nth-child(1) {
      color: #1b9327;
      left: 10%;
    }
    &:nth-child(2) {
      animation-delay: 2s;
      animation-duration: 12s;
      color: fade-out(white, 0.5);
      font-size: 1.6rem;
      left: 20%;
    }
    &:nth-child(3) {
      animation-delay: 2s;
      color: fade-out(white, 0.3);
      left: 25%;
    }
    &:nth-child(4) {
      animation-duration: 18s;
      color: rgb(77, 14, 21);
      font-size: 1.4rem;
      left: 40%;
    }
    &:nth-child(5) {
      color: fade-out(white, 0.3);
      font-size: 0.8rem;
      left: 70%;
    }
    &:nth-child(6) {
      animation-delay: 6s;
      color: #1b9327;
      font-size: 1.8rem;
      left: 80%;
    }
    &:nth-child(7) {
      animation-delay: 10s;
      color: rgb(57, 129, 193);
      left: 32%;
    }
    &:nth-child(8) {
      animation-delay: 1s;
      animation-duration: 26s;
      color: rgb(57, 129, 193);
      font-size: 2rem;
      left: 55%;
    }
    &:nth-child(9) {
      animation-delay: 16s;
      animation-duration: 25s;
      color: fade-out(white, 0.3);
      font-size: 0.7rem;
      left: 25%;
    }
    &:nth-child(10) {
      animation-delay: 19s;
      color: rgb(221, 255, 0);
      font-size: 0.85rem;
      left: 80%;
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-190vh) rotate(550deg);
  }
}
