.navbar-wrapper {
  background-color: $background-gray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80px;
  position: fixed;
  z-index: 999;
}
#navSidebar {
  left: $app-margin-LR;
  position: fixed;
  top: 0;
  width: calc(100% - 40px);
  z-index: 10;
}
#menuIcon {
  padding: 20px;
  position: absolute;
  right: $app-margin-LR;
  top: 0;
  z-index: 20;
}
