.navbar-wrapper {
  background-color: $background-gray;
  display: grid;
  grid-template-columns: 1fr;
  height: 80px;
  position: fixed;
  z-index: 999;
}
#navSidebar {
  // position: fixed;
  //   top: 0;
  //   width: 100%;
  z-index: 10;
}
.navSidebar-off {
  opacity: 0;
  visibility: hidden;
  transition: all 0s ease-in-out;
}
.navSidebar-on {
  opacity: 1;
  visibility: visible;
}
#menuIcon {
  padding: 20px;
  position: absolute;
  right: $app-margin-LR;
  top: 0;
  z-index: 20;
}
