.sidebar-wrapper {
  border: solid 2px green;
  display: grid;
  grid-template-columns: 1fr 2fr;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  width: 100%;
}
.sidebar-wrapper--open {
  transform: translateX(0%);
}
.sidebar {
  background-color: $background-gray;
  padding-top: 25vh;
}
